
.table-container{

display: flex;
flex-direction: column;
align-items: center;

}

.wrapper{
    display: flex;
    gap:1rem;
    width: 70%;
    background-color: rgb(218, 213, 208);
    padding: 1rem;
   

}

.container{

display: flex;
flex-direction: column;
width: 60%;

}

.container label{

margin-top: .2rem;


}

.container input{


padding: .4rem;
border:1px solid rgb(223, 213, 213);
border-radius: .5rem;
margin: .5rem 0;

}

.btn{

    padding: .8rem 2rem;
    outline: none;
    border:1px solid rgb(223, 213, 213);
    border-radius: .5rem;
    background-color:green;
    margin: 1rem 0;
    
}

table{

border-collapse: collapse;
width: 72%;
margin-top: 1rem;


}

th{

text-align: left;
background-color: rgb(187, 84, 84);

}

th,td{

    padding: 1rem 5rem;
    border:1px solid rgb(223, 213, 213);
}


tr:nth-child(odd){

    background-color: rgb(218, 213, 208);
}

tr:hover{

background-color: green;

}
